.navbar {
  width: 100%;
  margin: auto;
  padding: 10px 0;
  top: 0;
  left: 0;
  display: flex;
  background-color: rgba(179, 179, 179, 0.6);
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 99999;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 22px;
  position: relative;
}

.navbar ul li a {
  display: block;
  color: rgb(33, 33, 33);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: rgb(225, 255, 0);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after {
  width: 100%;
}
li a:hover {
  background-color: #fbff00;
}
